<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
      <div class="quiz-container">
        <h1>Quiz: {{quizTitle}}</h1>


        {{#each questions}}
        <div class="question">
            {{this.question}}
        </div>

        <ul class="options">
            {{#each this.options}}
            <li>
                <label>
                <input
                    type="radio"
                    name="option"
                    value="{{this}}"
                    {{#if (eq ../selectedOption this)}}checked{{/if}}
                >
                {{this}}
                </label>
            </li>
            {{/each}}
        </ul>
        {{/each}}
    </body>
</html>