<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/register.css">
    <title>Register</title>
</head>
<body>
    <div class="registration-page">
    <h1>Register</h1>
    <div id="error">{{errorMsg}}</div>
    <form class="form-group" method="POST" name="registration-form" id="registration-form" action="/register">
        <!-- First name -->
        <div class="form-group">
            <label name="firstNameLabel" for="firstName">First name</label>
            <input type="text" id="firstName" name="firstName" placeholder="Enter your first name" required />
        </div>

        <!-- Last name -->
        <div class="form-group">
            <label name="lastNameLabel" for="lastName">Last name</label>
            <input type="text" id="lastName" name="lastName" placeholder="Enter your last name" required />
        </div>

        <!-- Username -->
        <div class="form-group">
            <label name="usernameLabel" for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required />
        </div>

        <!-- Email -->
        <div class="form-group">
            <label name="emailLabel" for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required />
        </div>

        <!-- Password -->
        <div class="form-group">
            <label name="passwordLabel" for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required />
        </div>

        <!-- Role -->
        <div class="form-group">
            <label name="roleLabel" for="role">Role:</label>
            <select id="role" name="role">
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <button type="submit" class="btn-submit">Register</button>
        </div>
    </form>
    <p>Already a registered? <a href="/login">Login</a></p>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src='../public/js/form_validate.js'></script>

</body>

</html>